h1 {
    color: rgb(255, 174, 0);
    text-align:center 
}

.block {
    background-color: rgb(211, 196, 196);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(68, 80, 119);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}


img {
    width: 50%;
    margin: auto;
    display: block;

}
h2{
    text-align:center;
    background-color:rgb(164, 202, 247);
    border-radius: 30px;
    border-width: 3px ;
    padding-left: 50px ;

    

}
a{
    text-decoration:none;
}
a:hover {
    color: chartreuse;
}
a{
    bold
}